doctype html

html(id="data-ng-app", data-ng-app="siegeApp")
	head
		meta(charset="utf-8")
		title Game of Defense
		script(type="text/javascript", src="../vendor/createjs.min.js")
		script(type="text/javascript", src="../vendor/QuadTree.js")
		script(type="text/javascript", src="../vendor/blowfish.js")
		script(type="text/javascript", src="../js/matchMaking.js")
		script(type="text/javascript", src="../js/heroList.js")
		script(type="text/javascript", src="../js/monsterList.js")
		script(type="text/javascript", src="../js/spellList.js")
		script(type="text/javascript", src="../js/ultimateList.js")
		script(type="text/javascript", src="../js/utility.js")
		script(type="text/javascript", src="../js/heroClass.js")
		script(type="text/javascript", src="../js/monsterClass.js")
		script(type="text/javascript", src="../js/playerClass.js")
		script(type="text/javascript", src="../js/particleClass.js")
		script(type="text/javascript", src="../js/base.js")
		script(type="text/javascript", src="../js/itemList.js")
		link(rel="stylesheet", href="../style/main.css")
	body(onload="init();")
		section#GD-Game(data-ng-controller="appCtrl")
			canvas#gameCanvas
			canvas#gamePanel
			//-
				section.enemies.selector-container
					button.enemy.selector-button(data-ng-repeat="monster in monsters")
						img(ng-src="{{getImage(monster)}}")
					button.shop.selector-button.hide(data-ng-repeat="item in session.shop.available")
				div.switch
					button#enemy.chosen(data-ng-click="getSpells()", ) Enemy
					button#shop Shop
				section#selected
					div#current-info
						div
							image(data-ng-model="session.game.selected.image")
						div current hp
					div#stats
						div.ad 23
						div.hp 532
						div.mp 21
						div.md 17
						div.mr 26
						div.ar 25
						div.ms 21
						div.rn 15
						div.as 17		
				section#info
					//- Have to resize text in this section in javascript
					button#game-time In-game Time
					button#time-to-income Countdown to Gold
					button#gold Current Gold
					button#health Current Health
				canvas#miniMap
				div.switch
					button#skill Spell
					button#inventory Inventory
				section.items.selector-container
					button.skill.selector-button(data-ng-repeat="spell in spells")
					button.item.selector-button.hide(data-ng-repeat="item in session.hero.inventory")
		section#GD-Game-Setup.hide.page-wrap
			span.step-menu
				ol
					li Mode 
					div.arrow 
						div.arrow-right
					li Hero
					div.arrow
						div.arrow-right
					li Skill 
					div.arrow
						div.arrow-right
					li Ultimate
			section.mode
				div
					h1 Mode 
					p Choose 1 mode, this choice will decide the kind of game you will play.
				div.selector-container
					button.mode.selector-button(data-ng-repeat="mode in modeList")
			section.heros
				div
					h1 Heros 
					p Choose 1 epic hero, your selection will be who you will customize and battle with.
				button.hero.selector-button(data-ng-repeat="hero in heroList")
			section.skills
				div
					h1 Skills
					p Choose 4 skills, your hero is training to become a master at using your selected skills. 
				div.selector-container
					button.skill.selector-button(data-ng-repeat="skill in skillList")
			section.ultimates
				div
					h1 Ultimate Skill 
					p Choose 1 ultimate skill, this might be the strongest skill your hero has!
				div.selector-container
					button.ultimate.selector-button(data-ng-repeat="ultimate in ultimateList")