doctype html

html(id="data-ng-app", data-ng-app="siteApp")
	head
		meta(charset="utf-8")
		title The Game of Defense The Site
		script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js")
		script(type="text/javascript", src="js/site.js")
		link(rel="stylesheet", href="style/main.css")
	body(data-ng-controller="siteCtrl")
		div.service.page-wrap
			div
				input(type="search", results=5, placeholder="Explore Site...")
			div
				a(href="./bin/game.html")
					button.offline Play Now!
			div
				ul(data-ng-hide="session.loggedIn")
					li
						a(href="?login", onclick="session.login") Login
					li
						a(href="./Register") Register
				ul(data-ng-show="session.loggedIn").hide
					li
						a(href="./Profile") {{session.user.userName}}
					li
						a(href="?logout", onclick="session.logout") Logout
		section#GD-Site.page-wrap
			header
				img.content-header(src="assets/site-images/ok.png", alt="poop")
				nav
					a(href="./bin/game-guide.html")
						button.guide Game Guide
					a(href="./bin/forum.html")
						button.forums Forums
					a(href="./bin/shop.html")
						button.shop Shop

			div.content 
				div.news-item 
					img(src="assets/site-images/simple.svg").news-image
					div.news-info
						a(href="newspageQuery")
							h1 NEWS TITLE
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu varius dolor, vitae commodo nunc. Maecenas pretium est a ante laoreet, sed ullamcorper nunc tristique. Morbi a interdum erat, nec semper enim. Mauris facilisis dui non nibh vestibulum, a rhoncus elit euismod. Duis consequat molestie purus, et ultrices eros aliquam at. Duis rutrum ac lectus eget dapibus. Etiam tincidunt turpis non diam ultricies, in dictum nisl adipiscing. Suspendisse mollis ante ac ligula ultrices, ac feugiat nisi malesuada. Pellentesque rutrum volutpat felis, ut egestas odio. Donec imperdiet facilisis metus eget convallis. Proin euismod libero sit amet nulla convallis, at consequat quam lobortis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut vitae gravida nulla.
			div.footer
				ul.footer-nav
					li
						a(href="./About") About 
					li
						a(href="./Merchandise") Merchandise 
					li
						a(href="./ReferAFriend") Refer A Friend 
					li
						a(href="./Support") Support 

		section#GD-Login.hide
			table
				tbody
					tr
						th Siege Login
					tr 
						td 
							label Username
						td
							input(type="text")
					tr 
						td
							label Password
						td
							input(type="password")
					tr 
						td
							a(href="./Forgot") Forgot Username or Password?
					tr
						td
							button Log In

		section#GD-Register.page-wrap.hide


		section#GD-Profile.page-wrap.hide

		section#GD-About.page-wrap.hide

		section#GD-Game-Guide.page-wrap.hide

		section#GD-Forum.page-wrap.hide

		section#GD-Shop.page-wrap.hide 

		section#GD-Support.page-wrap.hide
			