/*
  Blacks
  #24221C
  #403D33
  #807966
  #CCC2A3
  
  Reds
  #C40000
  #8C0000
  #590000
*/

body
  width 100%
  height 100%
  margin 0
  padding 0
  font-family arial
  background-color #807966

/*
  MIXINS
*/
border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

box-sizing(n)
  -webkit-box-sizing n
  -moz-box-sizing n
  box-sizing n

display flex
  display -webkit-box
  display -moz-box
  display -ms-flexbox
  display -webkit-flex
  display flex
/*
  MIXINS
*/
.page-wrap
  max-width 1000px
  min-width 600px
  margin 0 auto
  background-color #403D33

.service
  background-color #24221C
  display flex
  >div
    flex 1
    input
      width 90%
      margin 5%
    a button 
      font-size 1em
      width 90%
      margin 5%
    ul 
      text-align right
      font-size 1em
      list-style none
      padding 1em 0
      margin 0
      li
        left 0
        display inline
        padding 0 1em
        a
          color #FF0000
          text-decoration none

#GD-Home
  header
    background-color yellow
    img 
      position relative
      width 100%
      height 300px
    >div
      display flex
      height 300px
      >*
        padding 0
        flex 1
    >nav 
      display flex 
      a button
        font-size 1em
      >*
        flex 1 
        button 
          padding 1em 0 1em 0
          width 100%  
  .content
    background-color #CCC2A3
    .news-item
      display flex
      .news-image
        flex 1
        margin auto
        height 200px
        width 200px
      .news-info
        flex 3
        margin 0
  .footer
    .footer-nav
      text-align center
      font-size 1em
      list-style none
      padding 1em
      margin 0
      li
        display inline 
        a 
          color #FF0000
          text-decoration none
      li:nth-child(-n+3)::after
        color #FFFFFF
        padding 0.5em
        content " | "

#GD-Login
  position fixed
  height 100%
  width 100%
  top 0
  table
    width 60%
    height 80%
    margin 5% 20% 
    background-color white
    tbody tr 
      th
        font-size 2em
      td
        display block
        vertical-align center
        text-align center 
        align center
        input
          width 80%
          margin auto
          padding 0
        button 
          padding 0 20%
      
#GD-Game-Setup
  .step-menu
    display fixed
    background-color #24221C
    ol 
      display flex
      color white
      width 100%
      list-style none
      padding 0
      margin 0
      text-align center
      li
        background-color blue
        font-size 1em
        flex 10 0
      .arrow 
        flex 1 0
        z-index 2
        background-color yellow
        .arrow-right
          width 0
          height 0
          border-top 2em solid transparent
          border-bottom 2em solid transparent
          border-left 2em solid blue
      li:nth-of-type(2n)
          background-color yellow
      div:nth-of-type(2n)
        background-color blue
        .arrow-right
          border-left 2em solid yellow
  section .selector-container
    width 100%
    height 200px
    
  

/*
  GD-Game
*/  
#GD-Game
  #gameCanvas
    position absolute
    width 100%
    height 85%
  #game-panel
    display flex  
    align-content stretch     
    width 100%
    height 15%
    position fixed
    top 85%
    .switch
      background-color #444
      flex 1
      display flex
      -webkit-flex-flow column nowrap
      flex-flow column nowrap
      flex-direction column
      >button
        flex 1
    #info
      background-color red
      flex 3
      max-height 100%
      overflow auto
    #minimap
      flex 3
    .selector-container
      background-color #222
      flex 5
      display flex
      justify-content flex-start
      overflow auto
      .selector-button
        flex 1 0 45%
        >img
          height 100%
          width 100%
    .enemies    
      -webkit-flex-flow row nowrap
      flex-flow row nowrap
    .items
      -webkit-flex-flow row-reverse nowrap
      flex-flow row-reverse nowrap

.hide
  display none

@media all and (max-width: 1280px) and (min-width: 800px) 
  #GD-Game #game-panel .selector-container .selector-button
    flex 0 0 28.33%
    padding-bottom 28.33%

@media all and (min-width: 1281px)
  #GD-Game #game-panel .selector-container .selector-button
    flex 0 0 20%
    padding-bottom 20%